<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" href="#">Login/Signup Demo With Angular And Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Current User is  : {{ currentUser }} <span class="sr-only"></span></a>
        </li>
      
      </ul>
    </div>
  </nav>